.cwc-featured-product {
    background: var(--section-bg);
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}


/* ============================================== */
nav.breadcrumb.g-breadcrumb {
    display: none;
}

.template-product .main-content {
    /* background-color: red; */
    /* background: red; */
}

.product-single__title {
    /* font-size: 2rem !important; */
    /* color: red !important; */
}